h1,
p,
a {
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
}

image {
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#title {
  color: white;
  font-size: 5.5vw;
  text-indent: calc(3.5em / 4);
  letter-spacing: 1em;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;
          animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;
}

#desc {
  color: white;
  font-size: 0.8vw;
  text-indent: calc(1.5em / 4);
  letter-spacing: 0.5em;
  position: absolute;
  top: 60%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-animation: intro-glitch 1s 1, glitch-skew 1s infinite;
          animation: intro-glitch 1s 1, glitch-skew 1s infinite;
  text-align: center;
}

a {
  position: absolute;
  top: 80%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
  font-size: 1.8vw;
  text-indent: calc(1.8em / 4);
  letter-spacing: 0.6em;
  color: red;
  text-align: center;
  -webkit-animation: loadPageback 1s 1, glitch-skew 1s infinite;
          animation: loadPageback 1s 1, glitch-skew 1s infinite;
  white-space: nowrap;
}

#error {
  color: red;
  -webkit-animation: errloadPage 1s infinite;
          animation: errloadPage 1s infinite;
}

@-webkit-keyframes loadPageback {
  0% {
    color: transparent;
    top: 100%;
    letter-spacing: 2.5em;
  }
  100% {
    color: red;
    top: 80%;
    letter-spacing: 0.6em;
  }
}

@keyframes loadPageback {
  0% {
    color: transparent;
    top: 100%;
    letter-spacing: 2.5em;
  }
  100% {
    color: red;
    top: 80%;
    letter-spacing: 0.6em;
  }
}

@-webkit-keyframes errloadPage {
  0% {
    color: #a10000;
  }
  50% {
    color: red;
  }
  100% {
    color: #a10000;
  }
}

@keyframes errloadPage {
  0% {
    color: #a10000;
  }
  50% {
    color: red;
  }
  100% {
    color: #a10000;
  }
}

@-webkit-keyframes loadPageTitle {
  0% {
    letter-spacing: 2.5em;
  }
  100% {
    letter-spacing: 1em;
  }
}

@keyframes loadPageTitle {
  0% {
    letter-spacing: 2.5em;
  }
  100% {
    letter-spacing: 1em;
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  3.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  6.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  10% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  13.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  16.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  20% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  23.33333% {
    text-shadow: 2px 2px #0000ff;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  26.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  30% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  33.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  36.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  40% {
    text-shadow: 2px 2px #0000ff;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  43.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  46.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  50% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  53.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  56.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  60% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  63.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  66.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  70% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  73.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  76.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  80% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  83.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  86.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  90% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  93.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  96.66667% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  100% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
}

@keyframes glitch-skew {
  0% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  3.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  6.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  10% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  13.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  16.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  20% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  23.33333% {
    text-shadow: 2px 2px #0000ff;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  26.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  30% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  33.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  36.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  40% {
    text-shadow: 2px 2px #0000ff;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  43.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  46.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  50% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  53.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  56.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  60% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  63.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  66.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  70% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  73.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  76.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  80% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  83.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  86.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  90% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  93.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  96.66667% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  100% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
}

@-webkit-keyframes intro-glitch {
  0% {
    height: 29px;
    -webkit-box-shadow: -205px 11px 0px 0px #ff0000;
            box-shadow: -205px 11px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(69px, 9999px, 58px, 0);
  }
  2% {
    height: 18px;
    -webkit-box-shadow: -291px 14px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -291px 14px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 65px, 0);
  }
  4% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(65px, 9999px, 24px, 0);
  }
  6% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(92px, 9999px, 64px, 0);
  }
  8% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(71px, 9999px, 75px, 0);
  }
  10% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(84px, 9999px, 64px, 0);
  }
  12% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 3px, 0);
  }
  14% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(53px, 9999px, 79px, 0);
  }
  16% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(78px, 9999px, 3px, 0);
  }
  18% {
    height: 3px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(73px, 9999px, 28px, 0);
  }
  20% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(1px, 9999px, 85px, 0);
  }
  22% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(53px, 9999px, 45px, 0);
  }
  24% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(48px, 9999px, 35px, 0);
  }
  26% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(52px, 9999px, 13px, 0);
  }
  28% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #ff0000;
    clip: rect(88px, 9999px, 96px, 0);
  }
  30% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(82px, 9999px, 45px, 0);
  }
  32% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(52px, 9999px, 100px, 0);
  }
  34% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(30px, 9999px, 91px, 0);
  }
  36% {
    height: 8px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(60px, 9999px, 84px, 0);
  }
  38% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(1px, 9999px, 72px, 0);
  }
  40% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(47px, 9999px, 61px, 0);
  }
  42% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(50px, 9999px, 73px, 0);
  }
  44% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(61px, 9999px, 39px, 0);
  }
  46% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(21px, 9999px, 66px, 0);
  }
  48% {
    height: 23px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(57px, 9999px, 33px, 0);
  }
  50% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(64px, 9999px, 5px, 0);
  }
  52% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 57px, 0);
  }
  54% {
    height: 25px;
    -webkit-box-shadow: -146px 13px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -146px 13px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(26px, 9999px, 72px, 0);
  }
  56% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(27px, 9999px, 70px, 0);
  }
  58% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(2px, 9999px, 47px, 0);
  }
  60% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    clip: rect(12px, 9999px, 99px, 0);
  }
  62% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(97px, 9999px, 36px, 0);
  }
  64% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(82px, 9999px, 92px, 0);
  }
  66% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(87px, 9999px, 96px, 0);
  }
  68% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(80px, 9999px, 56px, 0);
  }
  70% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(46px, 9999px, 6px, 0);
  }
  72% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(15px, 9999px, 60px, 0);
  }
  74% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(69px, 9999px, 19px, 0);
  }
  76% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(94px, 9999px, 48px, 0);
  }
  78% {
    height: 3px;
    -webkit-box-shadow: -125px 38px 0px 0px #ff0000;
            box-shadow: -125px 38px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(3px, 9999px, 24px, 0);
  }
  80% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(85px, 9999px, 43px, 0);
  }
  82% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(70px, 9999px, 89px, 0);
  }
  84% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 88px, 0);
  }
  86% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(4px, 9999px, 86px, 0);
  }
  88% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 26px, 0);
  }
  90% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(56px, 9999px, 15px, 0);
  }
  92% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(21px, 9999px, 88px, 0);
  }
  94% {
    height: 14px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(52px, 9999px, 4px, 0);
  }
  96% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(85px, 9999px, 90px, 0);
  }
  98% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(26px, 9999px, 45px, 0);
  }
  100% {
    height: 23px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(68px, 9999px, 3px, 0);
  }
}

@keyframes intro-glitch {
  0% {
    height: 29px;
    -webkit-box-shadow: -205px 11px 0px 0px #ff0000;
            box-shadow: -205px 11px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(69px, 9999px, 58px, 0);
  }
  2% {
    height: 18px;
    -webkit-box-shadow: -291px 14px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -291px 14px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 65px, 0);
  }
  4% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(65px, 9999px, 24px, 0);
  }
  6% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(92px, 9999px, 64px, 0);
  }
  8% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(71px, 9999px, 75px, 0);
  }
  10% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(84px, 9999px, 64px, 0);
  }
  12% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 3px, 0);
  }
  14% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(53px, 9999px, 79px, 0);
  }
  16% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(78px, 9999px, 3px, 0);
  }
  18% {
    height: 3px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(73px, 9999px, 28px, 0);
  }
  20% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(1px, 9999px, 85px, 0);
  }
  22% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(53px, 9999px, 45px, 0);
  }
  24% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(48px, 9999px, 35px, 0);
  }
  26% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(52px, 9999px, 13px, 0);
  }
  28% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #ff0000;
    clip: rect(88px, 9999px, 96px, 0);
  }
  30% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(82px, 9999px, 45px, 0);
  }
  32% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(52px, 9999px, 100px, 0);
  }
  34% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(30px, 9999px, 91px, 0);
  }
  36% {
    height: 8px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(60px, 9999px, 84px, 0);
  }
  38% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(1px, 9999px, 72px, 0);
  }
  40% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(47px, 9999px, 61px, 0);
  }
  42% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(50px, 9999px, 73px, 0);
  }
  44% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(61px, 9999px, 39px, 0);
  }
  46% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(21px, 9999px, 66px, 0);
  }
  48% {
    height: 23px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(57px, 9999px, 33px, 0);
  }
  50% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(64px, 9999px, 5px, 0);
  }
  52% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 57px, 0);
  }
  54% {
    height: 25px;
    -webkit-box-shadow: -146px 13px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -146px 13px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(26px, 9999px, 72px, 0);
  }
  56% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(27px, 9999px, 70px, 0);
  }
  58% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(2px, 9999px, 47px, 0);
  }
  60% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    clip: rect(12px, 9999px, 99px, 0);
  }
  62% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(97px, 9999px, 36px, 0);
  }
  64% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(82px, 9999px, 92px, 0);
  }
  66% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(87px, 9999px, 96px, 0);
  }
  68% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(80px, 9999px, 56px, 0);
  }
  70% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(46px, 9999px, 6px, 0);
  }
  72% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(15px, 9999px, 60px, 0);
  }
  74% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(69px, 9999px, 19px, 0);
  }
  76% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(94px, 9999px, 48px, 0);
  }
  78% {
    height: 3px;
    -webkit-box-shadow: -125px 38px 0px 0px #ff0000;
            box-shadow: -125px 38px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(3px, 9999px, 24px, 0);
  }
  80% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(85px, 9999px, 43px, 0);
  }
  82% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(70px, 9999px, 89px, 0);
  }
  84% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 88px, 0);
  }
  86% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(4px, 9999px, 86px, 0);
  }
  88% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 26px, 0);
  }
  90% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(56px, 9999px, 15px, 0);
  }
  92% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(21px, 9999px, 88px, 0);
  }
  94% {
    height: 14px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(52px, 9999px, 4px, 0);
  }
  96% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(85px, 9999px, 90px, 0);
  }
  98% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(26px, 9999px, 45px, 0);
  }
  100% {
    height: 23px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(68px, 9999px, 3px, 0);
  }
}

.red {
  color: red;
}

#pancake {
  top: 100%;
  left: 10px;
  -webkit-transform: translate(50%, -200%);
          transform: translate(50%, -200%);
}

.gravity {
  position: absolute;
  -webkit-animation: fall 5s 1;
          animation: fall 5s 1;
}

@-webkit-keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

#randomHolder {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */