h1,
p,
a {
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
}

image {
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#title {
  //text-align: center;
  color: white;

  //font-size: 3.5em;
  font-size: 5.5vw;
  text-indent: calc(3.5em / 4);

  letter-spacing: 1em;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  //font-family: "Zen Dots";
  animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;
  //animation-name: loadPageTitle;
  //animation-duration: 1s;
}

#desc {
  color: white;

  font-size: 0.8vw;
  text-indent: calc(1.5em / 4);

  letter-spacing: 0.5em;

  position: absolute;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: intro-glitch 1s 1, glitch-skew 1s infinite;
  text-align: center;
}
a {
  position: absolute;
  top: 80%;
  right: 50%;
  transform: translate(50%, -50%);
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
  font-size: 1.8vw;
  text-indent: calc(1.8em / 4);
  letter-spacing: 0.6em;

  color: red;
  text-align: center;
  animation: loadPageback 1s 1, glitch-skew 1s infinite;
  white-space: nowrap;
}
#error {
  color: red;
  animation: errloadPage 1s infinite;
}
@keyframes loadPageback {
  0% {
    color: transparent;
    top: 100%;
    letter-spacing: 2.5em;
  }
  100% {
    color: red;
    top: 80%;
    letter-spacing: 0.6em;
  }
}

@keyframes errloadPage {
  0% {
    color: rgb(161, 0, 0);
  }
  50% {
    color: red;
  }
  100% {
    color: rgb(161, 0, 0);
  }
}

@keyframes loadPageTitle {
  0% {
    letter-spacing: 2.5em;
  }
  100% {
    letter-spacing: 1em;
  }
}

$glitch-colors: rgba(248, 12, 255, 0.6), #ff0000, #0000ff;

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      //height: random(3) + px;

      @if random(100) < 10 {
        text-shadow: 2px
          2px
          nth($glitch-colors, random(length($glitch-colors)));
      } @else {
        text-shadow: 2px 2px transparent;
      }
      transform: skew((random(4) - 2) + deg) translate(50%, -50%);
    }
  }
}

@keyframes intro-glitch {
  $steps: 50;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      height: random(30) + px;

      @if random(100) < 10 {
        box-shadow: -(random(200) + 100) +
          px
          (random(50) + 10) +
          px
          0px
          0px
          nth($glitch-colors, random(length($glitch-colors)));
      } @else {
        box-shadow: -13px -15px -100px 0px transparent;
      }
      @if random(100) < 10 {
        text-shadow: 2px
          2px
          nth($glitch-colors, random(length($glitch-colors)));
      } @else {
        text-shadow: 2px 2px transparent;
      }
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

//Extra (pancakes and stuff)

#pancake {
  top: 100%;
  left: 10px;
  transform: translate(50%, -200%);
}

.gravity {
  position: absolute;
  animation: fall 5s 1;
}
@keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

#randomHolder {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
