#background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#background #codeContainer {
  width: 40vw;
  height: 100vh;
  overflow: hidden;
}

#background #codeContainer::-webkit-scrollbar {
  display: none;
}

#background .code {
  font-family: "Zen Dots";
  font-size: 0.4em;
  color: rgba(255, 255, 255, 0.144);
  white-space: pre-wrap;
}

#mainContent {
  -webkit-animation: shake 0.5s steps(6);
          animation: shake 0.5s steps(6);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(-6px, -3px);
            transform: translate(-6px, -3px);
  }
  3.33333% {
    -webkit-transform: translate(-7px, -4px);
            transform: translate(-7px, -4px);
  }
  6.66667% {
    -webkit-transform: translate(10px, 14px);
            transform: translate(10px, 14px);
  }
  10% {
    -webkit-transform: translate(8px, 6px);
            transform: translate(8px, 6px);
  }
  13.33333% {
    -webkit-transform: translate(-3px, -10px);
            transform: translate(-3px, -10px);
  }
  16.66667% {
    -webkit-transform: translate(10px, 2px);
            transform: translate(10px, 2px);
  }
  20% {
    -webkit-transform: translate(-8px, 12px);
            transform: translate(-8px, 12px);
  }
  23.33333% {
    -webkit-transform: translate(-9px, 5px);
            transform: translate(-9px, 5px);
  }
  26.66667% {
    -webkit-transform: translate(1px, -9px);
            transform: translate(1px, -9px);
  }
  30% {
    -webkit-transform: translate(-7px, 10px);
            transform: translate(-7px, 10px);
  }
  33.33333% {
    -webkit-transform: translate(-3px, 12px);
            transform: translate(-3px, 12px);
  }
  36.66667% {
    -webkit-transform: translate(5px, 7px);
            transform: translate(5px, 7px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  43.33333% {
    -webkit-transform: translate(15px, -9px);
            transform: translate(15px, -9px);
  }
  46.66667% {
    -webkit-transform: translate(6px, 3px);
            transform: translate(6px, 3px);
  }
  50% {
    -webkit-transform: translate(-7px, 7px);
            transform: translate(-7px, 7px);
  }
  53.33333% {
    -webkit-transform: translate(11px, -7px);
            transform: translate(11px, -7px);
  }
  56.66667% {
    -webkit-transform: translate(-13px, -14px);
            transform: translate(-13px, -14px);
  }
  60% {
    -webkit-transform: translate(9px, 14px);
            transform: translate(9px, 14px);
  }
  63.33333% {
    -webkit-transform: translate(-7px, 13px);
            transform: translate(-7px, 13px);
  }
  66.66667% {
    -webkit-transform: translate(-14px, 7px);
            transform: translate(-14px, 7px);
  }
  70% {
    -webkit-transform: translate(3px, -11px);
            transform: translate(3px, -11px);
  }
  73.33333% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  76.66667% {
    -webkit-transform: translate(7px, 14px);
            transform: translate(7px, 14px);
  }
  80% {
    -webkit-transform: translate(-6px, 8px);
            transform: translate(-6px, 8px);
  }
  83.33333% {
    -webkit-transform: translate(-8px, 4px);
            transform: translate(-8px, 4px);
  }
  86.66667% {
    -webkit-transform: translate(2px, -10px);
            transform: translate(2px, -10px);
  }
  90% {
    -webkit-transform: translate(6px, 11px);
            transform: translate(6px, 11px);
  }
  93.33333% {
    -webkit-transform: translate(-1px, 7px);
            transform: translate(-1px, 7px);
  }
  96.66667% {
    -webkit-transform: translate(-4px, -2px);
            transform: translate(-4px, -2px);
  }
  100% {
    -webkit-transform: translate(5px, -8px);
            transform: translate(5px, -8px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(-6px, -3px);
            transform: translate(-6px, -3px);
  }
  3.33333% {
    -webkit-transform: translate(-7px, -4px);
            transform: translate(-7px, -4px);
  }
  6.66667% {
    -webkit-transform: translate(10px, 14px);
            transform: translate(10px, 14px);
  }
  10% {
    -webkit-transform: translate(8px, 6px);
            transform: translate(8px, 6px);
  }
  13.33333% {
    -webkit-transform: translate(-3px, -10px);
            transform: translate(-3px, -10px);
  }
  16.66667% {
    -webkit-transform: translate(10px, 2px);
            transform: translate(10px, 2px);
  }
  20% {
    -webkit-transform: translate(-8px, 12px);
            transform: translate(-8px, 12px);
  }
  23.33333% {
    -webkit-transform: translate(-9px, 5px);
            transform: translate(-9px, 5px);
  }
  26.66667% {
    -webkit-transform: translate(1px, -9px);
            transform: translate(1px, -9px);
  }
  30% {
    -webkit-transform: translate(-7px, 10px);
            transform: translate(-7px, 10px);
  }
  33.33333% {
    -webkit-transform: translate(-3px, 12px);
            transform: translate(-3px, 12px);
  }
  36.66667% {
    -webkit-transform: translate(5px, 7px);
            transform: translate(5px, 7px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  43.33333% {
    -webkit-transform: translate(15px, -9px);
            transform: translate(15px, -9px);
  }
  46.66667% {
    -webkit-transform: translate(6px, 3px);
            transform: translate(6px, 3px);
  }
  50% {
    -webkit-transform: translate(-7px, 7px);
            transform: translate(-7px, 7px);
  }
  53.33333% {
    -webkit-transform: translate(11px, -7px);
            transform: translate(11px, -7px);
  }
  56.66667% {
    -webkit-transform: translate(-13px, -14px);
            transform: translate(-13px, -14px);
  }
  60% {
    -webkit-transform: translate(9px, 14px);
            transform: translate(9px, 14px);
  }
  63.33333% {
    -webkit-transform: translate(-7px, 13px);
            transform: translate(-7px, 13px);
  }
  66.66667% {
    -webkit-transform: translate(-14px, 7px);
            transform: translate(-14px, 7px);
  }
  70% {
    -webkit-transform: translate(3px, -11px);
            transform: translate(3px, -11px);
  }
  73.33333% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  76.66667% {
    -webkit-transform: translate(7px, 14px);
            transform: translate(7px, 14px);
  }
  80% {
    -webkit-transform: translate(-6px, 8px);
            transform: translate(-6px, 8px);
  }
  83.33333% {
    -webkit-transform: translate(-8px, 4px);
            transform: translate(-8px, 4px);
  }
  86.66667% {
    -webkit-transform: translate(2px, -10px);
            transform: translate(2px, -10px);
  }
  90% {
    -webkit-transform: translate(6px, 11px);
            transform: translate(6px, 11px);
  }
  93.33333% {
    -webkit-transform: translate(-1px, 7px);
            transform: translate(-1px, 7px);
  }
  96.66667% {
    -webkit-transform: translate(-4px, -2px);
            transform: translate(-4px, -2px);
  }
  100% {
    -webkit-transform: translate(5px, -8px);
            transform: translate(5px, -8px);
  }
}

@-webkit-keyframes flicker {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, black), color-stop(50%, #000a2f), to(#000a2f));
    background: linear-gradient(to bottom, black, black 50%, #000a2f 50%, #000a2f);
    background-size: 100% 8px;
  }
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, black), color-stop(50%, #000a3a), to(#000a3a));
    background: linear-gradient(to bottom, black, black 50%, #000a3a 50%, #000a3a);
    background-size: 100% 8px;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, black), color-stop(50%, #000a2f), to(#000a2f));
    background: linear-gradient(to bottom, black, black 50%, #000a2f 50%, #000a2f);
    background-size: 100% 8px;
  }
}

@keyframes flicker {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, black), color-stop(50%, #000a2f), to(#000a2f));
    background: linear-gradient(to bottom, black, black 50%, #000a2f 50%, #000a2f);
    background-size: 100% 8px;
  }
  20% {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, black), color-stop(50%, #000a3a), to(#000a3a));
    background: linear-gradient(to bottom, black, black 50%, #000a3a 50%, #000a3a);
    background-size: 100% 8px;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, black), color-stop(50%, #000a2f), to(#000a2f));
    background: linear-gradient(to bottom, black, black 50%, #000a2f 50%, #000a2f);
    background-size: 100% 8px;
  }
}

#title {
  color: white;
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
  font-size: 5.5vw;
  text-indent: calc(3.5em / 4);
  letter-spacing: 1em;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;
          animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;
}

.introg {
  -webkit-animation: intro-glitch 1s 1;
          animation: intro-glitch 1s 1;
}

@-webkit-keyframes loadPageTitle {
  0% {
    letter-spacing: 2.5em;
  }
  100% {
    letter-spacing: 1em;
  }
}

@keyframes loadPageTitle {
  0% {
    letter-spacing: 2.5em;
  }
  100% {
    letter-spacing: 1em;
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  3.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  6.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  10% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  13.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  16.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  20% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  23.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  26.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  30% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  33.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  36.66667% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  40% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  43.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  46.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  50% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  53.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  56.66667% {
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  60% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  63.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  66.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  70% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  73.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  76.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  80% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  83.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  86.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  90% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  93.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  96.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  100% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
}

@keyframes glitch-skew {
  0% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  3.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  6.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  10% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  13.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  16.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  20% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  23.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  26.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  30% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  33.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  36.66667% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  40% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  43.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  46.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  50% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  53.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  56.66667% {
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  60% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  63.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  66.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  70% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  73.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  76.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  80% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  83.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  86.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  90% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  93.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  96.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  100% {
    text-shadow: 2px 2px #ff0000;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
}

@-webkit-keyframes intro-glitch {
  0% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(44px, 9999px, 37px, 0);
  }
  2% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(85px, 9999px, 33px, 0);
  }
  4% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(57px, 9999px, 83px, 0);
  }
  6% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(82px, 9999px, 28px, 0);
  }
  8% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 61px, 0);
  }
  10% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 95px, 0);
  }
  12% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(87px, 9999px, 4px, 0);
  }
  14% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(75px, 9999px, 48px, 0);
  }
  16% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(81px, 9999px, 17px, 0);
  }
  18% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(55px, 9999px, 75px, 0);
  }
  20% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(2px, 9999px, 29px, 0);
  }
  22% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 35px, 0);
  }
  24% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 36px, 0);
  }
  26% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #ff0000;
    clip: rect(30px, 9999px, 59px, 0);
  }
  28% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(72px, 9999px, 29px, 0);
  }
  30% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(57px, 9999px, 57px, 0);
  }
  32% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(84px, 9999px, 35px, 0);
  }
  34% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 29px, 0);
  }
  36% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 35px, 0);
  }
  38% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(78px, 9999px, 62px, 0);
  }
  40% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(97px, 9999px, 23px, 0);
  }
  42% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(63px, 9999px, 16px, 0);
  }
  44% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 51px, 0);
  }
  46% {
    height: 19px;
    -webkit-box-shadow: -155px 34px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -155px 34px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(50px, 9999px, 47px, 0);
  }
  48% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(43px, 9999px, 84px, 0);
  }
  50% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #ff0000;
    clip: rect(98px, 9999px, 93px, 0);
  }
  52% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 90px, 0);
  }
  54% {
    height: 1px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(72px, 9999px, 68px, 0);
  }
  56% {
    height: 4px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(48px, 9999px, 33px, 0);
  }
  58% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(2px, 9999px, 99px, 0);
  }
  60% {
    height: 19px;
    -webkit-box-shadow: -152px 58px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -152px 58px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(72px, 9999px, 13px, 0);
  }
  62% {
    height: 23px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(3px, 9999px, 92px, 0);
  }
  64% {
    height: 9px;
    -webkit-box-shadow: -300px 36px 0px 0px #ff0000;
            box-shadow: -300px 36px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(46px, 9999px, 16px, 0);
  }
  66% {
    height: 14px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(50px, 9999px, 10px, 0);
  }
  68% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(54px, 9999px, 44px, 0);
  }
  70% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 33px, 0);
  }
  72% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(55px, 9999px, 45px, 0);
  }
  74% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(23px, 9999px, 35px, 0);
  }
  76% {
    height: 15px;
    -webkit-box-shadow: -258px 37px 0px 0px #0000ff;
            box-shadow: -258px 37px 0px 0px #0000ff;
    text-shadow: 2px 2px transparent;
    clip: rect(34px, 9999px, 86px, 0);
  }
  78% {
    height: 18px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 75px, 0);
  }
  80% {
    height: 8px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(70px, 9999px, 34px, 0);
  }
  82% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(80px, 9999px, 51px, 0);
  }
  84% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(88px, 9999px, 61px, 0);
  }
  86% {
    height: 8px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(99px, 9999px, 36px, 0);
  }
  88% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(29px, 9999px, 76px, 0);
  }
  90% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 17px, 0);
  }
  92% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 17px, 0);
  }
  94% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 11px, 0);
  }
  96% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    clip: rect(87px, 9999px, 81px, 0);
  }
  98% {
    height: 1px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(99px, 9999px, 20px, 0);
  }
  100% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(60px, 9999px, 37px, 0);
  }
}

@keyframes intro-glitch {
  0% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(44px, 9999px, 37px, 0);
  }
  2% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(85px, 9999px, 33px, 0);
  }
  4% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(57px, 9999px, 83px, 0);
  }
  6% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(82px, 9999px, 28px, 0);
  }
  8% {
    height: 13px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 61px, 0);
  }
  10% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 95px, 0);
  }
  12% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(87px, 9999px, 4px, 0);
  }
  14% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(75px, 9999px, 48px, 0);
  }
  16% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(81px, 9999px, 17px, 0);
  }
  18% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(55px, 9999px, 75px, 0);
  }
  20% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(2px, 9999px, 29px, 0);
  }
  22% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 35px, 0);
  }
  24% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 36px, 0);
  }
  26% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #ff0000;
    clip: rect(30px, 9999px, 59px, 0);
  }
  28% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(72px, 9999px, 29px, 0);
  }
  30% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(57px, 9999px, 57px, 0);
  }
  32% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(84px, 9999px, 35px, 0);
  }
  34% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 29px, 0);
  }
  36% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 35px, 0);
  }
  38% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(78px, 9999px, 62px, 0);
  }
  40% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(97px, 9999px, 23px, 0);
  }
  42% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(63px, 9999px, 16px, 0);
  }
  44% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 51px, 0);
  }
  46% {
    height: 19px;
    -webkit-box-shadow: -155px 34px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -155px 34px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(50px, 9999px, 47px, 0);
  }
  48% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(43px, 9999px, 84px, 0);
  }
  50% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #ff0000;
    clip: rect(98px, 9999px, 93px, 0);
  }
  52% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 90px, 0);
  }
  54% {
    height: 1px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(72px, 9999px, 68px, 0);
  }
  56% {
    height: 4px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px #0000ff;
    clip: rect(48px, 9999px, 33px, 0);
  }
  58% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(2px, 9999px, 99px, 0);
  }
  60% {
    height: 19px;
    -webkit-box-shadow: -152px 58px 0px 0px rgba(248, 12, 255, 0.6);
            box-shadow: -152px 58px 0px 0px rgba(248, 12, 255, 0.6);
    text-shadow: 2px 2px transparent;
    clip: rect(72px, 9999px, 13px, 0);
  }
  62% {
    height: 23px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(3px, 9999px, 92px, 0);
  }
  64% {
    height: 9px;
    -webkit-box-shadow: -300px 36px 0px 0px #ff0000;
            box-shadow: -300px 36px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(46px, 9999px, 16px, 0);
  }
  66% {
    height: 14px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(50px, 9999px, 10px, 0);
  }
  68% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(54px, 9999px, 44px, 0);
  }
  70% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 33px, 0);
  }
  72% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(55px, 9999px, 45px, 0);
  }
  74% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(23px, 9999px, 35px, 0);
  }
  76% {
    height: 15px;
    -webkit-box-shadow: -258px 37px 0px 0px #0000ff;
            box-shadow: -258px 37px 0px 0px #0000ff;
    text-shadow: 2px 2px transparent;
    clip: rect(34px, 9999px, 86px, 0);
  }
  78% {
    height: 18px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 75px, 0);
  }
  80% {
    height: 8px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(70px, 9999px, 34px, 0);
  }
  82% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(80px, 9999px, 51px, 0);
  }
  84% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(88px, 9999px, 61px, 0);
  }
  86% {
    height: 8px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(99px, 9999px, 36px, 0);
  }
  88% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(29px, 9999px, 76px, 0);
  }
  90% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 17px, 0);
  }
  92% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(9px, 9999px, 17px, 0);
  }
  94% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(32px, 9999px, 11px, 0);
  }
  96% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    clip: rect(87px, 9999px, 81px, 0);
  }
  98% {
    height: 1px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(99px, 9999px, 20px, 0);
  }
  100% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(60px, 9999px, 37px, 0);
  }
}

#navbar {
  position: absolute;
  bottom: 20%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#navbar a {
  color: white;
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
}

#socials {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 20%;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#socials a {
  margin: 5px;
  color: white;
}
/*# sourceMappingURL=main.css.map */