#title {
  color: white;
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
  font-size: 5.5vw;
  text-indent: calc(3.5em / 4);
  letter-spacing: 0.8em;
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;
          animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;
}

@-webkit-keyframes loadPageTitle {
  0% {
    letter-spacing: 0.01em;
    top: 50%;
  }
  100% {
    letter-spacing: 0.8em;
    top: 10%;
  }
}

@keyframes loadPageTitle {
  0% {
    letter-spacing: 0.01em;
    top: 50%;
  }
  100% {
    letter-spacing: 0.8em;
    top: 10%;
  }
}

#projectHolder {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 90%;
  height: 70vh;
  background-color: #1f1f1f;
  -webkit-animation: loadPageProjectHolder 2s;
          animation: loadPageProjectHolder 2s;
  border-radius: 1em;
  padding: 1em;
  overflow-y: scroll;
}

#projectHolder * {
  font-family: "Tomorrow", sans-serif;
}

#categorySelector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#categorySelector .category {
  background-color: #222222;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 1em;
  cursor: pointer;
}

#categorySelector .selected {
  background-color: #b30000;
}

.project {
  width: 15vw;
  height: 17vw;
  background-color: #222222;
  margin: 5px;
}

.project * {
  width: 100%;
}

.project a {
  text-decoration: none;
}

.project .project-title {
  color: white;
  text-align: center;
  font-size: 2vw;
}

#projectHolderProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#command {
  color: white;
}

.green {
  color: green;
}

.red {
  color: red;
}

@-webkit-keyframes loadPageProjectHolder {
  0% {
    height: 0vh;
    background-color: white;
    padding: 0em;
    color: rgba(255, 255, 255, 0);
  }
  55% {
    height: 0vh;
    background-color: white;
    padding: 0em;
    color: rgba(255, 255, 255, 0);
  }
  100% {
    height: 70vh;
    background-color: #1f1f1f;
    padding: 1em;
    color: white;
  }
}

@keyframes loadPageProjectHolder {
  0% {
    height: 0vh;
    background-color: white;
    padding: 0em;
    color: rgba(255, 255, 255, 0);
  }
  55% {
    height: 0vh;
    background-color: white;
    padding: 0em;
    color: rgba(255, 255, 255, 0);
  }
  100% {
    height: 70vh;
    background-color: #1f1f1f;
    padding: 1em;
    color: white;
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  3.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  6.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  10% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  13.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  16.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  20% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  23.33333% {
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  26.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  30% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  33.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  36.66667% {
    text-shadow: 2px 2px #0000ff;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  40% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  43.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  46.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  50% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  53.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  56.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  60% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  63.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  66.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  70% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  73.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  76.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  80% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  83.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  86.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  90% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  93.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  96.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  100% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
}

@keyframes glitch-skew {
  0% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  3.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  6.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  10% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  13.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  16.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  20% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  23.33333% {
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  26.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  30% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  33.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  36.66667% {
    text-shadow: 2px 2px #0000ff;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  40% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  43.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  46.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  50% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  53.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  56.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  60% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  63.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  66.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  70% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  73.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  76.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  80% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(2deg) translate(50%, -50%);
            transform: skew(2deg) translate(50%, -50%);
  }
  83.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  86.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  90% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(0deg) translate(50%, -50%);
            transform: skew(0deg) translate(50%, -50%);
  }
  93.33333% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
  96.66667% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(1deg) translate(50%, -50%);
            transform: skew(1deg) translate(50%, -50%);
  }
  100% {
    text-shadow: 2px 2px transparent;
    -webkit-transform: skew(-1deg) translate(50%, -50%);
            transform: skew(-1deg) translate(50%, -50%);
  }
}

@-webkit-keyframes intro-glitch {
  0% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 49px, 0);
  }
  2% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(75px, 9999px, 9px, 0);
  }
  4% {
    height: 18px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(89px, 9999px, 79px, 0);
  }
  6% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 71px, 0);
  }
  8% {
    height: 3px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(49px, 9999px, 16px, 0);
  }
  10% {
    height: 12px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(55px, 9999px, 77px, 0);
  }
  12% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(91px, 9999px, 98px, 0);
  }
  14% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(69px, 9999px, 80px, 0);
  }
  16% {
    height: 4px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(22px, 9999px, 25px, 0);
  }
  18% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(16px, 9999px, 63px, 0);
  }
  20% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(4px, 9999px, 26px, 0);
  }
  22% {
    height: 19px;
    -webkit-box-shadow: -147px 17px 0px 0px #0000ff;
            box-shadow: -147px 17px 0px 0px #0000ff;
    text-shadow: 2px 2px transparent;
    clip: rect(15px, 9999px, 39px, 0);
  }
  24% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(4px, 9999px, 64px, 0);
  }
  26% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(58px, 9999px, 77px, 0);
  }
  28% {
    height: 25px;
    -webkit-box-shadow: -139px 21px 0px 0px #0000ff;
            box-shadow: -139px 21px 0px 0px #0000ff;
    text-shadow: 2px 2px #0000ff;
    clip: rect(15px, 9999px, 89px, 0);
  }
  30% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(62px, 9999px, 30px, 0);
  }
  32% {
    height: 27px;
    -webkit-box-shadow: -175px 28px 0px 0px #ff0000;
            box-shadow: -175px 28px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(25px, 9999px, 93px, 0);
  }
  34% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(22px, 9999px, 32px, 0);
  }
  36% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(11px, 9999px, 29px, 0);
  }
  38% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    clip: rect(52px, 9999px, 8px, 0);
  }
  40% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(17px, 9999px, 28px, 0);
  }
  42% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(56px, 9999px, 16px, 0);
  }
  44% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(78px, 9999px, 27px, 0);
  }
  46% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 36px, 0);
  }
  48% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(6px, 9999px, 4px, 0);
  }
  50% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(53px, 9999px, 5px, 0);
  }
  52% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 91px, 0);
  }
  54% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(81px, 9999px, 73px, 0);
  }
  56% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(39px, 9999px, 59px, 0);
  }
  58% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(71px, 9999px, 91px, 0);
  }
  60% {
    height: 12px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 73px, 0);
  }
  62% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(24px, 9999px, 49px, 0);
  }
  64% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(75px, 9999px, 93px, 0);
  }
  66% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(27px, 9999px, 95px, 0);
  }
  68% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(39px, 9999px, 58px, 0);
  }
  70% {
    height: 18px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(13px, 9999px, 68px, 0);
  }
  72% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(98px, 9999px, 92px, 0);
  }
  74% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(36px, 9999px, 15px, 0);
  }
  76% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(44px, 9999px, 62px, 0);
  }
  78% {
    height: 12px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(67px, 9999px, 59px, 0);
  }
  80% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(64px, 9999px, 89px, 0);
  }
  82% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(76px, 9999px, 55px, 0);
  }
  84% {
    height: 4px;
    -webkit-box-shadow: -142px 56px 0px 0px #0000ff;
            box-shadow: -142px 56px 0px 0px #0000ff;
    text-shadow: 2px 2px #ff0000;
    clip: rect(58px, 9999px, 44px, 0);
  }
  86% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(49px, 9999px, 34px, 0);
  }
  88% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(92px, 9999px, 35px, 0);
  }
  90% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(18px, 9999px, 75px, 0);
  }
  92% {
    height: 3px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(71px, 9999px, 57px, 0);
  }
  94% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 52px, 0);
  }
  96% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 13px, 0);
  }
  98% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(49px, 9999px, 44px, 0);
  }
  100% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(15px, 9999px, 9px, 0);
  }
}

@keyframes intro-glitch {
  0% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(96px, 9999px, 49px, 0);
  }
  2% {
    height: 16px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(75px, 9999px, 9px, 0);
  }
  4% {
    height: 18px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(89px, 9999px, 79px, 0);
  }
  6% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(59px, 9999px, 71px, 0);
  }
  8% {
    height: 3px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(49px, 9999px, 16px, 0);
  }
  10% {
    height: 12px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(55px, 9999px, 77px, 0);
  }
  12% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(91px, 9999px, 98px, 0);
  }
  14% {
    height: 28px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(69px, 9999px, 80px, 0);
  }
  16% {
    height: 4px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(22px, 9999px, 25px, 0);
  }
  18% {
    height: 11px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(16px, 9999px, 63px, 0);
  }
  20% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(4px, 9999px, 26px, 0);
  }
  22% {
    height: 19px;
    -webkit-box-shadow: -147px 17px 0px 0px #0000ff;
            box-shadow: -147px 17px 0px 0px #0000ff;
    text-shadow: 2px 2px transparent;
    clip: rect(15px, 9999px, 39px, 0);
  }
  24% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(4px, 9999px, 64px, 0);
  }
  26% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(58px, 9999px, 77px, 0);
  }
  28% {
    height: 25px;
    -webkit-box-shadow: -139px 21px 0px 0px #0000ff;
            box-shadow: -139px 21px 0px 0px #0000ff;
    text-shadow: 2px 2px #0000ff;
    clip: rect(15px, 9999px, 89px, 0);
  }
  30% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(62px, 9999px, 30px, 0);
  }
  32% {
    height: 27px;
    -webkit-box-shadow: -175px 28px 0px 0px #ff0000;
            box-shadow: -175px 28px 0px 0px #ff0000;
    text-shadow: 2px 2px transparent;
    clip: rect(25px, 9999px, 93px, 0);
  }
  34% {
    height: 9px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(22px, 9999px, 32px, 0);
  }
  36% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(11px, 9999px, 29px, 0);
  }
  38% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px rgba(248, 12, 255, 0.6);
    clip: rect(52px, 9999px, 8px, 0);
  }
  40% {
    height: 24px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(17px, 9999px, 28px, 0);
  }
  42% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(56px, 9999px, 16px, 0);
  }
  44% {
    height: 30px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(78px, 9999px, 27px, 0);
  }
  46% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 36px, 0);
  }
  48% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(6px, 9999px, 4px, 0);
  }
  50% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(53px, 9999px, 5px, 0);
  }
  52% {
    height: 15px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 91px, 0);
  }
  54% {
    height: 22px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(81px, 9999px, 73px, 0);
  }
  56% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(39px, 9999px, 59px, 0);
  }
  58% {
    height: 26px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(71px, 9999px, 91px, 0);
  }
  60% {
    height: 12px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(51px, 9999px, 73px, 0);
  }
  62% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(24px, 9999px, 49px, 0);
  }
  64% {
    height: 7px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(75px, 9999px, 93px, 0);
  }
  66% {
    height: 29px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(27px, 9999px, 95px, 0);
  }
  68% {
    height: 19px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(39px, 9999px, 58px, 0);
  }
  70% {
    height: 18px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(13px, 9999px, 68px, 0);
  }
  72% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(98px, 9999px, 92px, 0);
  }
  74% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(36px, 9999px, 15px, 0);
  }
  76% {
    height: 25px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(44px, 9999px, 62px, 0);
  }
  78% {
    height: 12px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(67px, 9999px, 59px, 0);
  }
  80% {
    height: 27px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(64px, 9999px, 89px, 0);
  }
  82% {
    height: 5px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(76px, 9999px, 55px, 0);
  }
  84% {
    height: 4px;
    -webkit-box-shadow: -142px 56px 0px 0px #0000ff;
            box-shadow: -142px 56px 0px 0px #0000ff;
    text-shadow: 2px 2px #ff0000;
    clip: rect(58px, 9999px, 44px, 0);
  }
  86% {
    height: 17px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(49px, 9999px, 34px, 0);
  }
  88% {
    height: 6px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(92px, 9999px, 35px, 0);
  }
  90% {
    height: 2px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(18px, 9999px, 75px, 0);
  }
  92% {
    height: 3px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(71px, 9999px, 57px, 0);
  }
  94% {
    height: 20px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 52px, 0);
  }
  96% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(100px, 9999px, 13px, 0);
  }
  98% {
    height: 21px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(49px, 9999px, 44px, 0);
  }
  100% {
    height: 10px;
    -webkit-box-shadow: -13px -15px -100px 0px transparent;
            box-shadow: -13px -15px -100px 0px transparent;
    text-shadow: 2px 2px transparent;
    clip: rect(15px, 9999px, 9px, 0);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
  border-radius: 1em;
  margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b30000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

#back {
  position: absolute;
  top: 10%;
  left: 15px;
  font-size: 3vw;
  -webkit-animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite backwards;
          animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite backwards;
}

.code {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 0.203);
  -webkit-transform: rotate3d(400px, 400px, 100px);
          transform: rotate3d(400px, 400px, 100px);
  -webkit-animation: glitch-skew 1s infinite;
          animation: glitch-skew 1s infinite;
}
/*# sourceMappingURL=main.css.map */