$red: rgb(179, 0, 0);
$grey1: rgb(34, 34, 34);
#title {
  //text-align: center;
  color: white;
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
  //font-size: 3.5em;
  font-size: 5.5vw;
  text-indent: calc(3.5em / 4);

  letter-spacing: 0.8em;

  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, -50%);
  //font-family: "Zen Dots";
  //animation: loadPageTitle 2s;
  animation: loadPageTitle 2s, intro-glitch 1s 1, glitch-skew 1s infinite;

  //animation-name: loadPageTitle;
  //animation-duration: 1s;
}

@keyframes loadPageTitle {
  0% {
    letter-spacing: 0.01em;
    top: 50%;
  }
  100% {
    letter-spacing: 0.8em;
    top: 10%;
  }
}

#projectHolder {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  height: 70vh;
  background-color: rgb(31, 31, 31);
  animation: loadPageProjectHolder 2s;
  border-radius: 1em;
  padding: 1em;
  overflow-y: scroll;

  * {
    font-family: "Tomorrow", sans-serif;
  }
}

#categorySelector {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
  width: 100%;
  .category {
    background-color: $grey1;

    color: white;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 1em;
    cursor: pointer;
  }
  .selected {
    background-color: $red;
  }
}
.project {
  width: 15vw;
  height: 17vw;
  background-color: $grey1;
  margin: 5px;
  * {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  .project-title {
    color: white;
    text-align: center;
    font-size: 2vw;
  }
}

#projectHolderProjects {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: left;
  flex-wrap: wrap;
}

#command {
  color: white;
}
.green {
  color: green;
}
.red {
  color: red;
}

@keyframes loadPageProjectHolder {
  0% {
    height: 0vh;
    background-color: white;
    padding: 0em;

    //* {
    color: rgba(255, 255, 255, 0);
    //}
  }
  55% {
    height: 0vh;
    background-color: white;
    padding: 0em;

    //* {
    color: rgba(255, 255, 255, 0);
    //}
  }
  100% {
    height: 70vh;
    background-color: rgb(31, 31, 31);
    padding: 1em;

    //* {
    color: white;
    //}
  }
}

//Glitch

$glitch-colors: rgba(248, 12, 255, 0.6), #ff0000, #0000ff;

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      //height: random(3) + px;

      @if random(100) < 10 {
        text-shadow: 2px
          2px
          nth($glitch-colors, random(length($glitch-colors)));
      } @else {
        text-shadow: 2px 2px transparent;
      }
      transform: skew((random(4) - 2) + deg) translate(50%, -50%);
    }
  }
}

@keyframes intro-glitch {
  $steps: 50;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      height: random(30) + px;

      @if random(100) < 10 {
        box-shadow: -(random(200) + 100) +
          px
          (random(50) + 10) +
          px
          0px
          0px
          nth($glitch-colors, random(length($glitch-colors)));
      } @else {
        box-shadow: -13px -15px -100px 0px transparent;
      }
      @if random(100) < 10 {
        text-shadow: 2px
          2px
          nth($glitch-colors, random(length($glitch-colors)));
      } @else {
        text-shadow: 2px 2px transparent;
      }
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

//Scrollbar stuff

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(34, 34, 34);
  border-radius: 1em;
  margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey1;
}

#back {
  position: absolute;
  top: 10%;
  left: 15px;
  font-size: 3vw;
  animation: loadPageTitle 2s, intro-glitch 1s 1,
    glitch-skew 1s infinite backwards;
}

.code {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 0.203);
  transform: rotate3d(400px, 400px, 100px);
  animation: glitch-skew 1s infinite;
}
